# Serveur
PORT=5001
NODE_ENV=development

# Base de données MongoDB Atlas
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/etax_rdc?retryWrites=true&w=majority

# Authentification JWT
JWT_SECRET=
JWT_EXPIRES_IN=